<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedido</title>
    <link rel="stylesheet" href="pedido.component.css">
</head>
<body>
    <!-- <div class="container">
        <h2>Pedido</h2>
        <div class="item">
            <label>
                <input type="checkbox" checked>
                <div>
                    <strong>Hamburger</strong>
                    <br>
                    <span>Pão, Salada, Tomate, Maionese, Hamburger 180g.</span>
                </div>
            </label>
            <span class="price">R$ 29,90</span>
        </div> -->

        <!-- <div class="item">
            <label>
                <input type="checkbox" checked>
                <div>
                    <strong>Hamburger</strong>
                    <br>
                    <span>Pão, Salada, Tomate, Maionese, Hamburger 180g.</span>
                </div>
            </label>
            <span class="price">R$ 29,90</span>
        </div> -->
        
        
    </div>
    
    <div class="product-list" *ngFor="let produto of dishes">

          <div class="item">
            <label>
                <input type="checkbox" checked>
                <div>
                    <strong>Hamburger</strong>
                    <br>
                    <span>Pão, Salada, Tomate, Maionese, Hamburger 180g.</span>
                </div>
            </label>
            <span class="price">R$ 29,90</span>
        </div>

    </div>

    <button class="confirmar-btn">CONFIRMAR PEDIDO</button>