<div class="container">
  <header class="header">
      <button class="back-button" type="button" (click)="backDish()">◀︎</button>
      <h1>Produto</h1>
  </header>
  <form>
      <div class="product-details">
        
          <label for="name">Descrição:</label>
          <input type="text" id="name" [(ngModel)]="dish.name" name="name" required>

          <label for="price">Valor:</label>
          <input type="number" id="price" [(ngModel)]="dish.price" name="price" required (ngModelChange)="formatPrice()">

          <label for="description">Observação:</label>
          <input type="text" id="description" [(ngModel)]="dish.description" name="description" required>
      </div>
      <div class="actions">
          <button class="delete-button" type="button" (click)="deletDish()">✘</button>
          <button class="confirm-button" type="button" (click)="confirmDish()">✔︎</button>
      </div>
  </form>
</div>