<!doctype html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <title>Pedidos</title>
  <link rel="stylesheet" href="entrega.component.css">
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">

</head>
<body>
  <div class="container"> 
    <div class="pedido">
        <div class="header"> Entrega </div>
        <div class="pedido-info"> Pedido 01:</div>          
          <div class="detalhes">
              <p>Hamburger</p>
              <p>Batata</p>
              <p>Coca Cola</p>
              <b>29,90</b>
          </div>
                <select class="status">
                    <option>A CAMINHO</option>
                    <option>ENTREGUE</option>
                </select>
        
         <div class="pedido-info"> Pedido 01: </div>
                  <div class="detalhes">
                      <p>Hamburger</p>
                      <p>Batata</p>
                      <p>Coca Cola</p>
                      <b>29,90</b>
                  </div>         
                <select class="status">
                    <option>A CAMINHO</option>
                    <option>ENTREGUE</option>
                </select>

          <div class="pedido-info"> Pedido 01:</div>
            <div class="detalhes">
                <p>Hamburger</p>
                <p>Batata</p>
                <p>Coca cola</p>
                <b>29,90</b>
            </div>
            <select class="status">
                <option>A CAMINHO</option>
                <option>ENTREGUE</option>
            </select>
    </div>
  </div>
  <app-root></app-root>
</body>
</html>