<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cozinha</title>
    <link rel="stylesheet" href="entrega.component.css">
</head>
<body>
    <div class="container">
        <header class="header">
            <h1>Entrega</h1>
        </header>
        <div class="product-item">
            <h2 class="product-title">Pedido n.º01:</h2>
            <div class="product-info">
                <p><strong>Hamburger</strong><br>Pão, Salada, Tomate, Maionese, Hamburger 180g.</p>
                <p><strong>Batata</strong></p>
                <p><strong>Coca Cola</strong></p>
            </div>
            <p class="product-price">R$ 29,90</p>
            <div class="dropdown-container">
                <select class="status-dropdown">
                    <option value="em_espera">AGUARDANDO ENTREGA</option>
                    <option value="em_preparo">A CAMINHO</option>
                    <option value="pronto">ENTREGUE</option>
                </select>
            </div>
        </div>
        </div>
    </div>
</body>
</html>
