
    <div class="product-list" *ngFor="let produto of dishes">
          <div class="item">
            <label>
                <input type="checkbox" checked>
                <div>
                    <strong>Hamburger</strong>
                    <br>
                    <span>Pão, Salada, Tomate, Maionese, Hamburger 180g.</span>
                </div>
            </label>
            <span class="price">R$ 29,90</span>
        </div>
    </div>
    <button class="confirmar-btn">CONFIRMAR PEDIDO</button>