<div class="container">
    <header class="header">
        <h1>Cozinha</h1>
    </header>
    <div class="product-item" *ngFor="let order of orders;">
        <h2 class="product-title">Pedido n.º{{order.numeroPedido}}:</h2>
        <div class="product-info" *ngFor="let product of order.products">
            <p><strong>{{product.name}}</strong><br>{{product.description}}</p>
        </div>
        <p class="product-price">R$ {{valorTotal(order.products)}}</p>
        <div class="dropdown-container">
            <select class="status-dropdown" (change)="modifierStatus($event, order)">
                <option value="em_espera">EM ESPERA</option>
                <option value="em_preparo">EM PREPARO</option>
                <option value="pronto">PRONTO</option>
            </select>
        </div>
    </div>
</div>

