<div class="container">
    <header class="header">
        <h1>Cozinha</h1>
    </header>
    <div class="product-item">
        <h2 class="product-title">Pedido n.º01:</h2>
        <div class="product-info">
            <p><strong>Hamburger</strong><br>Pão, Salada, Tomate, Maionese, Hamburger 180g.</p>
            <p><strong>Batata</strong></p>
            <p><strong>Coca Cola</strong></p>
        </div>
        <p class="product-price">R$ 29,90</p>
        <div class="dropdown-container">
            <select class="status-dropdown">
                <option value="em_espera">EM ESPERA</option>
                <option value="em_preparo">EM PREPARO</option>
                <option value="pronto">PRONTO</option>
            </select>
        </div>
    </div>
</div>

